#see http://shanesbrain.net/2008/7/9/using-xcode-with-git
# xcode noise
build/*
*.xcconfig
*.xcclassmodel/*
*.o
*.a
*.dylib 
*.pbxuser
*.mode1v3
*.mode2v3
*.pch
*.perspectivev3
*.jnilib
*.exe
*.user
*.suo
*.sdf
*.opensdf

*.jar

# old skool
.svn

# osx noise
.DS_Store
profile

# emacs noise
*~

# autoreconf noise
Makefile.in
aclocal.m4
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
config.h.in
configure



autom4te.cache

# visual studio noise
*.user
*.sdf
*ipch/

# targets

build/
lib/
obj/


# includes
include/chaiscript/
include/zeromq/
include/otapi/OTAPI_wrap.h
include/zmq.h
include/zmq.hpp
include/zmq_utils.h
include/google

# swig temp files
swig/otapi/OTAPI_wrap.h
