;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Open-Transactions Client ini file


[logging]
logfile_path=~/.ot/log-client.log
log_level=0


;; For sending and receiving:
;; blocking=true (usually not recommended) means OT will hang on the send/receive
;; call, and wait indefinitely until the send or receive has actually occurred.
;; IF BLOCKING IS FALSE (normal, default):
;; - no_tries is the number of times OT will try to send or receive a message.
;; - ms is the number of milliseconds it will wait between each attempt.
;; UPDATE: send_ms and receive_ms now DOUBLE after each failed attempt! (up to 7 tries)
;; Meaning that after 5 tries, it's already waited over 12 seconds trying to get
;; the message.  (So you probably don't want to set it bigger than 200...) 

[latency]
blocking			=false
send_delay_after	=50
send_fail_no_tries	=5
send_fail_max_ms	=1000
recv_fail_no_tries	=5
recv_fail_max_ms	=1000


;; Above is only a default.
;;
;; Perhaps network conditions are worse...
;; We'll wait up to 10 seconds, instead of 1.
;; We'll double that each retry, up to four attempts.
;; That is, up to 5 seconds, up to 10, 20, and 
;; finally 40 seconds:

;; blocking				=false
;; send_delay_after		=50
;; send_fail_no_tries	=4
;; send_fail_max_ms		=5000
;; recv_fail_no_tries	=4
;; recv_fail_max_ms		=5000


;; Here is most extreme example (blocking)
;; (All other options are ignored.) When blocking on a send or receive,
;; the API will literally hang (freeze) and wait until the message is
;; received. Only then will it return from the function call, send
;; or receive.
;;
;; blocking				=true
;;
